---
title: Categories and Posts
category: category
layout: page
permalink: /blog/
---

<h3 class="font-bold text-2xl">Categories</h3>
<div class="grid grid-cols-2 md:grid-cols-4 gap-2 md:gap-4">
  {% for category in site.data.categories.categories %}
  <a href='/blog/{{ category.path }}' class="classic {{ category.color }}">
    <i class='{{ category.icon }}'></i>
    <span class='font-semibold'>{{ category.name }}</span>
    <span>{{ site.categories[category.path].size }}</span>
  </a>
  {% endfor %}
</div>

<h3 class="font-bold text-2xl" style='margin-top: 5rem !important;'>All Posts</h3>
<div class="grid grid-cols-1 md:grid-cols-2 gap-2" style="align-items: center">
  {% for post in site.posts %} 
  <a href="{{post.url}}" class="text-center works-item">
    {% if post.image %}
    <img
      src="/assets/images/onepx.png"
      data-src="{{post.image}}"
      alt="{{post.title}}"
      class="lazy rounded w-full"
    />
    {% endif %}
    <h4 class="text-xl font-semibold text-center">{{post.title}}</h4>
    <p class="text-center" style='margin: 0 0.5rem;'>{{post.description}}</p>
  </a>
  {% endfor %}
</div>