---
title: 프로그래밍
category: coding
layout: page
permalink: /blog/coding/
---

<div class="grid grid-cols-1 md:grid-cols-2 gap-4">
  {% for post in site.categories[page.category] %}
  <a href="{{post.url}}" class="no-underline">
    {% if post.image %}
    <img
      src="/assets/images/onepx.png"
      data-src="{{post.image}}"
      alt="{{post.title}}"
      class="lazy rounded w-full"
    />
    {% endif %}
    <h4 class="text-xl font-semibold text-center">{{post.title}}</h4>
    <p class="text-center">{{post.description}}</p>
  </a>
  {% endfor %}
</div>
