---
title: E-포뮬러
category: category
layout: page
permalink: /blog/e-formula/
---

<div class="grid grid-cols-1 md:grid-cols-2 gap-4" style="align-items: center">
  {% for post in site.categories['e-formula'] %}
  <a href="{{post.url}}" class="text-center works-item">
    {% if post.image %}
    <img
      src="/assets/images/onepx.png"
      data-src="{{post.image}}"
      alt="{{post.title}}"
      class="lazy rounded w-full"
    />
    {% endif %}
    <h4 class="text-xl font-semibold text-center">{{post.title}}</h4>
    <p class="text-center" style='margin: 0 0.5rem;'>{{post.description}}</p>
  </a>
  {% endfor %}
</div>
