---
layout: default
image: /assets/images/profile/og.png
---
<div class="container">
  <div class="wrapper px-2 md:px-0 my-6 md:my-6">
    <div class="grid md:grid-cols-12 gap-6 md:gap-6">
      {% include sidebar.html %}
      <main
        class="col-span-12 md:col-span-8 shadow-lg rounded-lg bg-white p-4 md:p-8 overflow-hidden"
      >
        {% include about.html %}
        {% include interests.html %}
        {% include skills.html %}
        {% include blogs.html %}
        {% include works.html %}
        {% include docs.html %}
        {% include gallery.html %}
        <!--{% include services.html %}-->
        <!--{% include clients.html %}-->
        <!--{% include testimonials.html %}-->
        <!--{% include hire-me.html %}-->
      </main>
      {% include footer.html %}
    </div>
  </div>
</div>