[Unit]
Description=Jekyll service
After=network.target

[Service]
Type=simple
Restart=always
WorkingDirectory=/home/luftaquila/jekyll
ExecStart=/home/luftaquila/.gems/bin/jekyll build --watch

[Install]
WantedBy=multi-user.target
