<div class="about mb-8 md:mb-12 relative z-20" style="margin-bottom: 1rem;">
  <h2
    class="font-bold text-xl pb-3 mb-3 border-b"
    data-sal="slide-up"
    data-sal-duration="{{site.data.settings.data-sal-duration}}"
  >
    <span class="text-{{site.data.settings.color-scheme}}">About</span>
  </h2>

  <p data-sal="slide-up" data-sal-duration="{{site.data.settings.data-sal-duration}}">
    {{site.data.about.about-text}}
  </p>
  <div class="details mt-3 md:mt-6" data-sal="slide-up" data-sal-duration="{{site.data.settings.data-sal-duration}}">
    <ul>
      {% for item in site.data.about.details %}
      <li class="mb-3 text-right">
        <span
          class="float-left bg-{{site.data.settings.color-scheme}} text-white rounded px-2 py-1"
          >{{item[0]}}:</span
        >{{item[1]}}
      </li>
      {% endfor %}
    </ul>
  </div>
  <div data-sal="slide-up" data-sal-duration="{{site.data.settings.data-sal-duration}}" style='text-align: right; margin-top: 0.5rem;'>
    <a class='hover:underline' href='/cv'>
      Read more <i class='fas fa-long-arrow-right'></i>
    </a>
  </div>
</div>
