<div class="about mb-8 md:mb-12 relative z-20">
  <h2
    class="font-bold text-xl pb-3 mb-3 border-b"
    data-sal="slide-up"
    data-sal-duration="800"
  >
    <span class="text-{{site.data.settings.color-scheme}}">About</span>
  </h2>

  <p data-sal="slide-up" data-sal-duration="800">
    {{site.data.about.about-text}}
  </p>
  <div class="details mt-3 md:mt-6" data-sal="slide-up" data-sal-duration="800">
    <ul>
      {% for item in site.data.about.details %}
      <li class="mb-3 text-right">
        <span
          class="float-left bg-{{site.data.settings.color-scheme}} text-white rounded px-2 py-1"
          >{{item[0] | capitalize}}:</span
        >{{item[1]}}
      </li>
      {% endfor %}
    </ul>
  </div>
</div>
