<div class="works mb-8 md:mb-16">
  <h2
    class="font-bold text-xl pb-3 mb-3 border-b"
    data-sal="slide-up"
    data-sal-duration="800"
  >
    My <span class="text-{{site.data.settings.color-scheme}}">Clients</span>
  </h2>
  <div class="grid grid-cols-2 md:grid-cols-4 gap-4 py-3 items-center">
    {% for item in site.data.clients %}
    <a href="{{item.link}}">
      <img
        class="lazy w-full"
        src="/assets/images/onepx.png"
        data-src="{{item.image}}"
        alt="{{item.name}}"
        data-sal="slide-up"
        data-sal-duration="800"
      />
    </a>
    {% endfor %}
  </div>
</div>
