<head>
  <meta charset="utf-8" />
  <meta http-equiv="x-ua-compatible" content="ie=edge" />
  {%- seo title=false -%}
  <title>
      {% if page.title %}
        {{ page.title }}
      {% else %}
        {{ site.title }}
      {% endif %}
  </title>
  <meta name="viewport" content="width=device-width, initial-scale=1" />
  <link rel="icon" type="image/png" href="{{site.data.settings.favicon}}" />
  <link rel="apple-touch-icon" href="{{site.data.settings.touch-icon}}" />
  <link rel="preconnect" href="https://fonts.gstatic.com" />
  <link rel="preconnect" href="https://cdnjs.cloudflare.com" />
  {% include google-fonts.html %}

  {% if page.url != "/" %}
  <link rel="stylesheet" href="{{ '/assets/css/sidebar.css' | relative_url }}" />
  {% endif %}
  <link rel="stylesheet" href="{{ '/assets/css/style.css' | relative_url }}" />
  <link rel="stylesheet" href="{{ '/assets/css/custom.css' | relative_url }}" />
  {% include analytics.html %}
</head>
