<div class="testimonials mb-8 md:mb-16">
  <h2
    class="font-bold text-xl pb-3 mb-3 border-b"
    data-sal="slide-up"
    data-sal-duration="800"
  >
    <span class="text-{{site.data.settings.color-scheme}}">Testimonials</span>
  </h2>

  <div class="py-3">
    {% for item in site.data.testimonials %}
    <div
      class="min-w-screen flex items-center justify-center mb-5"
      data-sal="slide-up"
      data-sal-duration="800"
    >
      <div
        class="w-full mx-auto rounded-lg bg-white border shadow-lg px-5 pt-5 pb-10 text-gray-800"
        style="max-width: 500px"
      >
        <div class="w-full pt-1 pb-3">
          <div class="overflow-hidden rounded-full w-16 h-16 mx-auto shadow-lg">
            <img
              class="lazy w-full"
              src="/assets/images/onepx.png"
              data-src="{{item.image}}"
              alt="{{item.name}}"
            />
          </div>
        </div>
        <div class="w-full mb-10">
          <div class="text-3xl text-gray-300 text-left leading-tight h-3">
            <i class="fas fa-quote-left"></i>
          </div>
          <p class="text-sm text-gray-600 text-center px-5">{{item.review}}</p>
          <div
            class="text-3xl text-gray-300 text-right leading-tight h-3 -mt-3"
          >
            <i class="fas fa-quote-right"></i>
          </div>
        </div>
        <div class="w-full">
          <p
            class="text-md text-{{site.data.settings.color-scheme}} font-bold text-center"
          >
            {{item.name}}
          </p>
          <p class="text-xs text-gray-500 text-center">{{item.social}}</p>
        </div>
      </div>
    </div>
    {% endfor %}
  </div>
</div>
