<div class="works mb-8 md:mb-5">
  <h2
    class="font-bold text-xl pb-3 mb-3 border-b"
    data-sal="slide-up"
    data-sal-duration="{{site.data.settings.data-sal-duration}}"
  >
    <a href='/works' class="text-{{site.data.settings.color-scheme}} headline-link"><i class='fas fa-link'></i> Works</a>
  </h2>
  <div class="grid grid-cols-1 md:grid-cols-2 gap-6 py-3">
    {% assign works = site.works | reverse %}
    {% for work in works limit: 2 %}
    <a href="{{work.url}}">
      <div data-sal="slide-up" data-sal-duration="{{site.data.settings.data-sal-duration}}">
        <img
          src="/assets/images/onepx.png"
          class="lazy h-44 w-full object-cover object-center rounded"
          data-src="{{work.image}}"
          alt="{{work.title}}"
        />
        <h3 class="font-semibold text-center">{{work.title}}</h3>
        <p class="text-sm text-center">{{work.description}}</p>
      </div>
    </a>
    {% endfor %}
  </div>
  <div data-sal="slide-up" data-sal-duration="{{site.data.settings.data-sal-duration}}" style='text-align: right; margin-top: 0.25rem;'>
    <a class='content-link' href='/works'>
      See all {{site.works | size}} articles <i class='fas fa-long-arrow-right'></i>
    </a>
  </div>
</div>
