<div class="works mb-10 md:mb-16">
  <h2
    class="font-bold text-xl pb-3 mb-3 border-b"
    data-sal="slide-up"
    data-sal-duration="800"
  >
    <a href='/works' class="text-blue-500">Works</a>
  </h2>
  <div class="grid grid-cols-1 md:grid-cols-2 gap-6 py-3">
    
    {% for work in site.works limit: 4 %}
    <a href="{{work.url}}">
      <div data-sal="slide-up" data-sal-duration="800">
        <img
          src="/assets/images/onepx.png"
          class="lazy h-44 w-full object-cover object-center rounded"
          data-src="{{work.image}}"
          alt="{{work.title}}"
        />
        <h3 class="font-semibold text-center">{{work.title}}</h3>
        <p class="text-sm text-center">{{work.description}}</p>
      </div>
    </a>
    {% endfor %}
    
    
    <!--
    <a href="{{work.url}}">
      <div data-sal="slide-up" data-sal-duration="800">
        <h3 class="font-semibold text-center">{hi</h3>
        <p class="text-sm text-center">scription}}</p>
      </div>
    </a>
    <a href="{{work.url}}">
      <div data-sal="slide-up" data-sal-duration="800">
        <img
          src="/assets/images/onepx.png"
          class="lazy h-44 w-full object-cover object-center rounded"
          data-src="{{work.image}}"
          alt="{{work.title}}"
        />
        <h3 class="font-semibold text-center">{{work.title}}</h3>
        <p class="text-sm text-center">{{work.description}}</p>
      </div>
    </a>
    -->
    
  </div>
</div>
