---
layout: default
---

<div class="container">
  <div class="wrapper px-2 md:px-2 my-4 md:my-6">
    <div class="grid md:grid-cols-12 gap-4 md:gap-6">
      {% include sidebar.html %}
      <main
        class="col-span-12 md:col-span-8 shadow-lg rounded-lg bg-white p-4 md:p-8"
      >
        <div class="grid grid-cols-1 gap-6 place-items-center mb-3">
          {% if page.image %}
          <img
            class="lazy main-img object-cover object-center rounded"
            src="/assets/images/onepx.png"
            data-src="{{page.image}}"
            alt="{{page.title}}"
          />
          {% endif %}
          <h1 class="font-bold text-2xl text-center">{{page.title}}</h1>
          <p class="text-center">{{page.description}}</p>
        </div>
        <div style="width: fit-content; margin: auto">
          <!--<img src="https://hits.seeyoufarm.com/api/count/incr/badge.svg?url=https%3A%2F%2Fluftaquila.io{{ page.url | url_encode }}&count_bg=%2379C83D&title_bg=%23555555&icon=googlefit.svg&icon_color=%23E7E7E7&title=hits&edge_flat=false"/>-->
        </div>
        <div class="mb-8 text-sm text-gray-500" style='margin-top: 1rem;'>
          {% include breadcrumbs.html %}
          <div style='margin: 1rem 0; text-align: right;'>{{ page.date | date: "%Y년 %m월 %d일" }}</div>
        </div>
        <div id="content" class="post">{{content}}</div>
        <div class="border-t py-5">{% include utterance.html %}</div>
      </main>
    </div>
  </div>
</div>
<script src='/assets/libraries/sweetalert2.min.js'></script>
<script>
  for(const img of document.querySelectorAll('.post img')) img.addEventListener('click', event => Swal.fire({ html: `<img style="width: 100%" src="${event.path[0].src}">`, customClass: 'wide-modal' }) );
</script>
<style>
  .wide-modal { width: 90%; }
</style>